.star {
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid pink;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    position: relative;
}
.star:before {
    border-bottom: 80px solid pink;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    content: '';
    transform: rotate(-35deg);
    top: -45px;
    left: -65px;
}
.star:after {
    border-right: 100px solid transparent;
    border-bottom: 70px solid pink;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    position: absolute;
    content: '';
    top: 3px;
    left: -105px;
}
.star-line {
    position: relative;
    width: 200px;
    height: 100px;
    border-top: 70px solid transparent;
    border-right: 100px solid pink;
    border-bottom: 70px solid transparent;
    border-left: 100px solid pink;
}
.star-line:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 170px;
    border-top: 70px solid transparent;
    border-right: 100px solid pink;
    border-bottom: 70px solid transparent;
    left: -100px;
    top: -70px;
}